/*variables*/

$font: Cormorant, serif;
$fondo:rgb(249, 239, 234);
$verdeClaro:rgb(191, 190, 165);
$verdeOscuro:rgb(89, 88, 41);
$gris: rgb(68, 66, 66);
$rosaChicle:rgb(240, 142, 156);
$rosaClaro:#c48c95;
$rosaoscuro:#b7848e;
$borderRosa:1px solid $rosaoscuro;
$borderVerde:1px solid $verdeOscuro;

@import "estructura";
@import "header";

/*index*/
.proyecto{color:$verdeOscuro; text-align: center; padding-bottom: 5%; h1{padding-bottom:2.5%;} p{font-size: 2.5rem;}}
.proyectoVerde{background-color: $verdeClaro; padding: 5%;.soro{ padding-top:1% ;text-align: center; font-size: 1.9rem; border-right:$borderVerde ;}
img{max-width: 40%;}.coleccion{border-left:$borderVerde ;text-align:center;h2{font-size: 2.3rem; padding-top:5% ;}p{font-size: 1.7rem;padding-left: 22%;padding-right: 22%; line-height: 2rem;}}}

/*somos*/
.containerSomos{border-bottom: $borderVerde;
.conSomos{padding:0%; margin:0%;.somosIm{max-width:100%;}}
.somos{@extend .proyecto; padding:0% 6%; align-self: center; line-height: 2.8rem; h1{font-size: 3rem;}}}
.conEllas{padding-top: 5%;.imEllas{max-width: 90%;}.texEllas{padding-left: 0%; text-align: left; color:$verdeOscuro;  
    h2{font-size: 2.5rem;padding-bottom: 5%;}p{font-size: 2rem;line-height: 2.2rem;}}
.luli{border-right: $borderVerde;}}

/*footer*/
hr{height:0.8px; border-width:0; width: 100%; background-color:$verdeOscuro; margin-top:5%; padding: 0%;}
footer{color: $gris; text-align: center;line-height: 2rem; font-size: 1.5rem;padding: 2% 0%;}
.padF{padding: 5% 0%;}

@media screen and (max-width: 767px) {
    .proyecto {padding-top: 7%; h1{font-size: 2.4rem;} p{font-size: 1.9rem;}}
    .proyectoVerde{.row{div{padding:5% 0%;}}.soro{font-size: 1.8rem; border-right:none ; border-bottom: $borderVerde;}
    img{max-width: 35%;}.coleccion{border-left:none ; border-top: $borderVerde;h2{font-size: 2rem;padding-top:1% ;}p{font-size:1.6;}}}
    .somos{margin-bottom:5%;}
    .conEllas{.luli{border-right: none; border-bottom:$borderRosa; padding-bottom: 5%;}.andy{padding-bottom: 2%; padding-top: 5%;}.texEllas{h2{font-size: 2rem;}p{font-size:1.6rem;}}}
    footer{font-size:1.3rem;}.somos{line-height: 2rem;}}
@media screen and (max-width: 360px) {
    .proyecto {padding-top: 9%; h1{font-size: 2.1rem;} p{font-size: 1.6rem;}}}