/*variables*/

$font: Cormorant, serif;
$fondo:rgb(249, 239, 234);
$verdeClaro:rgb(191, 190, 165);
$verdeOscuro:rgb(89, 88, 41);
$gris: rgb(68, 66, 66);
$rosaChicle:rgb(240, 142, 156);
$rosaClaro:rgb(234, 214, 220);
$rosaoscuro:rgb(183, 132, 142);
$borderRosa:1px solid $rosaoscuro;
$borderVerde:1px solid $verdeOscuro;

@import "estructura";
@import "header";


/*index*/
.proyecto{color:$verdeOscuro; text-align: center; padding-bottom: 5%; h1{padding-bottom:2.5%; font-size: 3.5rem;} p{font-size: 2.5rem;}}
.proyectoVerde{background-color: $verdeClaro; padding: 4%; color:$verdeOscuro;.soro{text-align: center; font-size: 2.7rem; font-style: italic; line-height: 3.4rem;}
.log{max-width: 90%;padding:0% 20%;border-left:$borderVerde;border-right:$borderVerde;}.coleccion{text-align:center;h2{font-size: 3rem;}p{font-size: 2.4rem;padding-left: 22%;padding-right: 22%; line-height: 3rem;}}}


/*Notas*/
.fondoVerde{background-color: $verdeClaro;a{text-decoration: none;}.bordeV{border-bottom: $borderVerde; margin-bottom: 2%;}
.notasInteres{@extend .proyecto;padding-bottom: 2%;h1{padding-bottom:0%;font-size: 4rem;}}
.textImg{color:$verdeOscuro;text-align: center; .medio{font-size:2.3rem; font-style: italic;color: $fondo; margin-bottom:1%;} h2{font-size:3.5rem; line-height:3.5rem;}.autor{font-size: 1.9rem; padding-top:1%;}
position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.bordeVerde{border-right: $borderVerde;}
.containerNotas{ .imgTexto {position: relative;width: 50%;.image {display: block;max-width: 100%; padding: 6% 20%;}
.overlay {position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: 100%;
width: 100%;opacity: 0;transition: .5s ease;background-color:$verdeClaro;}}
.imgTexto:hover .overlay {opacity: 1;}.containerTexto{text-align: center; color: $verdeOscuro; h2{font-size:4.7rem; font-style: italic;line-height: 4.5rem; font-weight:300; margin-bottom: 1%;}p{font-size: 2.4rem; font-weight: 400;color:$fondo;}}}}

/*Productos*/
.fondoRosa{@extend .fondoVerde; background-color: $rosaClaro;.overlay{background-color: $rosaClaro !important;};.bordeVer{border-bottom: $borderVerde;@extend .proyecto; padding-bottom:0%;}
.antro{border-bottom: $borderRosa; padding:3%; margin-bottom: 5%; .cole{font-style: italic; color: $rosaoscuro; font-size:3rem; margin-bottom: 0%;} h2{font-size:3.5rem; color: $verdeOscuro; line-height: 3.5rem;}
.cuentosCon{color:$verdeOscuro; font-size: 2.5rem; line-height: 3.2rem;}}
.containerNotas{.libros{color: $verdeOscuro;}.autor{line-height: 2.3rem;}.bordeRosa{border-right: $borderRosa;}}#descripcion{font-size:2rem;}
.juguetes{padding-top:2%; .conJugue{text-align: center;.jugue{color:$rosaoscuro;font-style: italic; font-size: 4.2rem; font-weight: 300;}.son{font-size:2.1rem;line-height: 2rem; padding-top:1%; color: $verdeOscuro;}}}
}
    
/*somos*/
.containerSomos{border-bottom: $borderVerde;
.conSomos{padding:0%; margin:0%;.somosIm{max-width:100%;}}
.somos{@extend .proyecto; padding:0% 6%; align-self: center; line-height: 35px;text-align:justify; h1{font-size: 3rem;}}}
.conEllas{padding-top: 5%;.imEllas{max-width: 90%;}.texEllas{text-align: left; color:$verdeOscuro;
    h2{font-size: 2.9rem;padding-bottom: 3%;}p{font-size: 2.5rem;line-height: 3.3rem;}}
.andy{border-left: $borderVerde;}}

/*contacto*/
.contacto{@extend .proyecto;line-height: 2.7rem;padding-bottom:2%;p{color:$gris; font-size: 2.2rem;}}
form{p{color:$rosaoscuro; padding-top:1%; text-align: right; font-size:1.8rem;}input{color:$gris; border:$borderRosa;background-color:$fondo;margin-top:1.5%;padding: 0.4% 0%; font-size:1.8rem;} .nombre{margin-top:0%;}textarea{@extend input;padding-bottom: 5%;}
.botones{padding:0%; margin-top:1%;
.boton{padding:0% 5%;}.enviar{@extend input; border:$borderVerde; margin-right: 2%;color:$gris;}
.modal{color:$verdeOscuro; h3{font-size:2.3rem;}h4{font-size:1.9rem;}.close{font-size:3.5rem;color:rgb(218, 89, 115);padding-top:2%;}}}}
.logos{padding-top:4%;img{max-width:100%;}}

/*footer*/
hr{height:0.8px; border-width:0; width: 100%; background-color:$verdeOscuro; margin-top:5%; padding: 0%;}
footer{color: $gris; text-align: center;line-height: 2rem; font-size: 1.5rem;padding: 2% 0%;}
.padF{padding: 5% 0%;}

@media screen and (width: 1024px) {.proyectoVerde{padding:1%;.log{max-width: 100%; padding:12%;margin:12%;} .coleccion{padding:0%;h2{font-size: 2.8rem;}p{font-size:2.1rem; line-height: 2.3rem;}}.soro{padding:5% 0%; p{font-size:2.3rem; line-height: 3.4rem;}}}}
@media screen and (width: 768px) {.proyectoVerde{padding:1%;.log{max-width: 100%; padding:12%;margin:12%;} .coleccion{padding:0%;h2{font-size: 2.5rem;}p{font-size:1.9rem; line-height: 2rem;}}.soro{padding:5% 0%; p{font-size:2.1rem; line-height: 2.5rem;}}}
#ipad{ font-size:2.2rem;line-height: 2.4rem;text-align: left;}.conEllas{.imEllas{padding: 8%;}.texEllas{h2{font-size: 1.9rem;}p{font-size:1.7rem;line-height:2rem;}}}
.fondoVerde{.textImg{.medio{font-size:1.8rem;} h2{font-size:2.1rem; line-height:2.2rem;}.autor{font-size: 1.4rem;}}#feminismos{h2{font-size:3rem; font-style: italic;line-height: 3.5rem;}}}}
@media screen and (max-width: 767px) {
    .proyecto {padding-top: 7%;h1{font-size: 2.4rem;}p{font-size: 2rem; line-height: 2.3rem;}}
    .proyectoVerde{padding:2%;.log{max-width: 90%;padding-top:8%;padding-bottom:8%; border-left:none;border-right:none;border-top: $borderVerde;border-bottom: $borderVerde;} .coleccion{padding:5% 0%;h2{font-size: 2.5rem;}p{font-size:2.1rem; line-height: 2.3rem;}}
    .soro{padding:5% 0%; p{font-size:2.5rem; line-height: 3rem;}}}
    .somos{margin-bottom:5%;p{line-height: 2.6rem;text-align: left;}}
    .conEllas{.andy{margin-top: 6%; border-left:none;}.textAndy{margin-top:6%;}.texEllas{h2{font-size: 2.1rem;}p{font-size:1.9rem;line-height:2.3rem;}}}
    .fondoVerde{.notasCelu{padding-top:3%;.femin{font-style:italic; color:$verdeOscuro;text-align: center;h2{font-size: 3.8rem; font-weight: 300;line-height: 3.8rem;margin-bottom:0%;}}.notitas{border-bottom: $borderVerde;margin:2%;.fotoNota{max-width: 100%;padding:15% 10% 15% 15%;}.textoNotas{padding-left:0%;color:$verdeOscuro;.medioCelu{font-size:2.2rem; font-style: italic;color:$fondo;margin-bottom:1%;text-decoration:underline;}h2{font-size:2.8rem; line-height:2.7rem;}.autorCelu{font-size:1.6rem; padding-top:0%;}}}#simone{border-bottom: none;}}}
    #antro{.cole{font-size:2.8rem;}; h2{font-size:3.4rem;line-height:3.2rem;}.cuentosCon{font-size:2.3rem; line-height:2.6rem;margin-top:2%;}}
    .productosCelu{border-bottom: $borderRosa;margin:1%;.fotoProd{max-width: 100%;padding:15% 10% 15% 15%;}.textoProdu{padding-left:0%;color:$verdeOscuro; h2{font-size:3rem;}p{font-size:2rem;line-height: 2.4rem;}}} #carrera{border-bottom: none;}
    .jugueCelu{padding-top:5%; border-top:$borderVerde;.textoJugueCel{text-align:center;h2{font-size:3.8rem;color:$rosaoscuro;font-style: italic;}p{color:$verdeOscuro;font-size: 2.1rem;line-height: 2.3rem;}}}
    form{margin-top:3.5%;p{font-size:1.5rem;}input{font-size:1.6rem; margin-top:4%;}}
    .logos{padding-top:5%;img{max-width:100%;}}
    footer{font-size:1.4rem; line-height: 1.6rem;}}
@media screen and (max-width: 360px) {
    .proyecto {padding-top: 9%; h1{font-size: 2.1rem;} p{font-size:2rem;}}.proyectoVerde{.coleccion{h2{font-size:2.2rem;}p{font-size:1.9rem;}}.soro{p{font-size:2.1rem; line-height: 2.9rem;}}}
    .conEllas{.andy{margin-top: 8%;}.textAndy{margin-top:8%;}.texEllas{h2{font-size: 1.9rem;}p{font-size:1.7rem;line-height:2rem;}}}
    .fondoVerde{.notasCelu{.femin{h2{font-size: 3.3rem;line-height: 3.5rem;}}.notitas{.textoNotas{.medioCelu{font-size:1.9rem;}h2{font-size:2.5rem; line-height:2.3rem;}.autorCelu{font-size:1.5rem;}}}}}
    #antro{.cole{font-size:2.4rem}; h2{font-size:3rem;line-height:2.9rem;}.cuentosCon{font-size:1.9rem; line-height:2.1rem;margin-top:2%;}}
    .productosCelu{.fotoProd{max-width: 100%;padding:12% 10% 12% 12%;}.textoProdu{h2{font-size:2.5rem;}p{font-size:1.7rem;line-height: 1.8rem;}}}
    .jugueCelu{.textoJugueCel{h2{font-size:3.2rem;}p{font-size: 1.8rem;line-height: 2rem;}}}
    footer{font-size:1.2rem;}}
    @media screen and (max-width: 321px) {.fondoVerde{.notasCelu{.femin{h2{font-size: 3rem; line-height: 3rem;}}.notitas{.textoNotas{.medioCelu{font-size:1.8rem;}h2{font-size:2.2rem; line-height:2.1rem;}.autorCelu{font-size:1.4rem;}}}}}
    #antro{.cole{font-size:2.3rem}; h2{font-size:2.8rem;line-height:2.7rem;}.cuentosCon{font-size:1.8rem; line-height:2rem;}}
    .productosCelu{.textoProdu{h2{font-size:2.3rem;}p{font-size:1.5rem;line-height: 1.7rem;}}}
    .jugueCelu{.textoJugueCel{h2{font-size:3rem;}p{font-size: 1.6rem;line-height: 2rem;}}}}